html,
body {
    min-width: 1200px;
    min-height: 2476px;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}


/* Кнопки */ 

.btn {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.slider-btn {
    width: 240px;
    padding: 19px 0px;
    background-color: #fb565a;
}

.slider-btn:hover {
    background-color: #e74246;
}

.features-btn {
    width: 160px;
    padding: 19px 0px;
}

.fbt-1 {
    background-color: #fb565a; 
}

.fbt-1:hover {
    background-color: #e74246;
}

.fbt-2 {
    background-color: #00ca74;
}

.fbt-2:hover {
    background-color: #00bc6c;
}

.fbt-3 {
    background-color: #efc84a;
}

.fbt-3:hover {
    background-color: #eab534;
}

.contact-btn {
    width: 220px;
    background-color: #fb565a;
    padding: 18px 0px;
}

.contact-btn:hover {
    background-color: #e74246;
}

.modal-content-btn {
    background-color: #fb565a;
    padding: 19px 0px;
    width: 260px;
}

.modal-content-btn {
    background-color: #e74246;
}

.mag-btn {
    width: 260px;
    color: #000000;
    padding: 17px 0px;
    background-color: #eeeeee;
    margin-bottom: 50px;
    outline: none;
}

.mag-btn:hover,
.mag-btn:active {
    background-color: #dfdfdf;
    outline: none;
}

.mag-prewiew-btn {
    width: 200px;
    background-color: #fb565a;
    padding: 19px 0px;
}

.mag-prewiew-btn:hover {
    background-color: #e74246;
}






/* Контейнер */ 

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



/* Хедер */

.main-header {
    background-color: #eeeeee;
    margin-bottom: 80px;
    min-height: 546px;
}

.header-navigation {
    min-height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

.logo {
    width: 160px;
    height: 65px;
    margin-right: 20px;
}

.logo-img {
    width: 160px;
    height: 65px;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.site-navigation {
    min-width: 440px;   
}

.site-navigation-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-navigation-item {
    margin-right: 20px;

}

.site-navigation-link {
    padding-bottom: 7px;
}

.site-navigation-link:hover {
    color: #fb565a;
}

.active {
    border-bottom: 2px solid #fb565a;
}

.active:hover {
    color: #000000;
}

.user-cart {
    max-width: 160px;
    text-align: right;
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
}

.user-cart::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: url(../img/cart-icon.png) no-repeat;
    opacity: 0.3;
}

.cart:hover {
    color: #fb565a;
}

.cart-icon {
    margin-right: 20px;
}

.header-slider {
    min-height: 420px;
}

.magazine-header {
    background-color: #eeeeee;
}

.header-h1 {
    min-height: 240px;
    margin-bottom: 60px;
}
.header-h1 h1 {
    margin-top: 0px;
    padding: 100px 0px;
    color: #000000;
    vertical-align: middle;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}




/* Слайдер мать его за ногу */

.header-slider { 
    position: relative;

    width: 1200px; /* add */
    min-height: 430px; /* add */
    margin: 0 auto; /* add */
    overflow: hidden; /* add */
}


.slide {
    /*height: 431px;*/ /* del */
    position: absolute; /* add */
    top: 0; /* add */
    left: 0; /* add */

    width: 100%; /* add */
    height: 431px; /* add */

    background-repeat: no-repeat; /* add */
    background-position: 100% 0px; /* add */

    -webkit-transition: left 0.3s ease; /* add */
     -moz-transition: left 0.3s ease; /* add */
          transition: left 0.3s ease; /* add */
}

.header-slider input[type=radio] {
    display: none; /* normal */
}

.slider-controls {
    position: absolute; /* normal */
    top: 320px; /* normal */
    left: 623px; /* normal */
    z-index: 10; /* normal */

    width: 200px; /* add */
    margin-left: -100px; /* add */
    text-align: center; /* add */
}

.slider-controls label {
    display: inline-block; /* normal */
    width: 10px; /* normal */
    height: 10px; /* normal */
    margin: 0 3px; /* normal */

    vertical-align: top; /* add */

    background-color: #ffffff; /* normal */
    border: 5px solid white; /* normal */
    border-radius: 50%; /* normal */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8); /* del */
    transition: background-color 0.2s;
    cursor: pointer; /* normal */
}

.slider-text {
    width: 440px;
    /*position: relative;*/ /* del */
}

.text-medium-big {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 0px;
    min-width: 515px;
    z-index: 20;
}

.text-slider-regular {   
    margin-top: 25px;
    padding: 0; 
    margin-bottom: 45px;
}

.slide:nth-child(1) {
    background-image: url("../img/slider-1.png");
}

.slide:nth-child(2) {
    background-image: url("../img/slider-2.png");
}

.slide:nth-child(3) {
    background-image: url("../img/slider-3.png");
}


/* Настройка переключения слайдера и кастомизация переключателей */


#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 1200px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -1200px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -1200px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -1200px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -1200px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #333333;
}





/* Предложения */

.features {
    min-height: 430px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 40px;
}

.features-item {
    max-width: 300px;
    min-height: 350px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.features-item img {
    width: 300px;
    height: 146px;
    margin-bottom: 20px;
}

.features-item b {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 25x;
    color: #000000;
}

.features-item p {
    margin-bottom: 39px;
}




/* О нас */

.about-us {
    min-height: 525px;
    border-bottom: 2px solid #eeeeee;
    display: flex;
    justify-content: space-between;
}

/* Левая сторона */

.about-us-left h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}

.about-us-left p {
    margin-bottom: 45px;
}

.about-us-left b {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about-us-list {
    list-style: none;
    margin: 0px;
    padding: 15px 0px 15px 37px;
}

.about-us-item {
    padding-bottom: 22px;
    position: relative;
}

.about-us-item::before {
    content: "";
    position: absolute;
    left: -35px;
    top: 10px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}


/* Правая сторона */

.nerds-img{
    margin-bottom: 34px;
    height: 208px;
}

.bold-text {
    padding-left: 16px;
    text-transform: uppercase;

}

.right-blocks {
    margin-top: 50px;
    display: flex;
}

.block-item {
    margin-right: 25px;
}

.block-item b {
    font-size: 45px;
}

.block-item p {
    line-height: 18px;
}

.block-item:last-child {
    margin-right: 0px;
}



/* Спонсоры */

.sponsors {
    min-height: 180px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 auto;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 80px;
}

.sponsors a {
    opacity: 0.2;
}

.sponsors a:hover {
    opacity: 1;
}


/* Контакты */

.contacts {
    position: relative;
}

.contacts .contact-block {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 270px;
    padding: 50px 0px 50px 50px;
    background-color: #ffffff;
}

.contact-block b {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-right: 0px;
}

.contact-block p {
    color: #666666;
    width: 220px;
    margin-right: 0px;
}

.contact-block p:nth-child(3) {
    margin-bottom: 40px;
}

.contacts .map {
    margin-left: -110px;
    position: relative;
}

.contacts .marker {
    position: absolute;
    top: 90px;
    left: 710px;
}



/* Футер */

.main-footer {
    padding: 70px 0px;
}

.main-footer .container {
    
}

.footer-social {
    display: inline-block;
    width: 260px; 
    vertical-align: middle; 
    margin-right: 140px;  
}

.social {
    display: inline-block;
    font-size: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 6px;
}

.social:hover {
    background-color: #e74246;
}

.social:last-child {
    margin-right: 0px;
}

.social-vk {
    background-image: url("../img/vk-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-fb {
    background-image: url("../img/fb-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-inst {
    background-image: url("../img/insta-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.let-friend {
    display: inline-block;
    vertical-align: middle;
    width: 560px;    
}

.let-friend b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 14px;
}

.let-friend p {
    line-height: 22px;
}


















/* Стили для страницы МАГАЗИН */

.magazine-body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    font-weight: 400;
}


.magazine-side-left {
    width: 260px;
    
    min-height: 770px;
}


.magazine-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.magazine-content h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
    color: #000000;
}

.magazine-content h3 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px;
}



/* Фильтр цены */

.range-filter {
    width: 260px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;

    background-color: #eeeeee;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 9px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cccdcd;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 165px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;

    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;

    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
}



/* Сетка  и и чекбоксы*/

.checkbox-zone {
    margin-bottom: 50px;
}

.checkbox-zone ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkbox-zone li {
    margin-bottom: 23px;
}

.checkbox-zone label input[type="checkbox"] {
    display: none;
}


.grid {
    position: relative;

    padding-left: 40px;

    cursor: pointer;
}

.grid:hover {
    color: #000000;
}

.grid input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -5px;
    left: 0;

    border-radius: 50%;
    height: 21px;
    width: 21px;

    border: 4px solid #b8b8b8;
}

.grid input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;

    height: 9px;
    width: 9px;
    border-radius: 50%;

    background-color: #b8b8b8;
}





/* Особенности и Чекбоксы */


.mag-features {
    position: relative;

    padding-left: 40px;

    cursor: pointer;
}

.mag-features:hover {
    color: #000000;
}

.mag-features input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    border-radius: 5px;
    height: 21px;
    width: 21px;

    border: 3px solid #b8b8b8;
}

.mag-features input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;

    height: 15px;
    width: 6px;
    border-radius: 5px;

    background-color: #b8b8b8;
}

.mag-features input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 16px;

    height: 23px;
    width: 6px;
    border-radius: 5px;

    background-color: #b8b8b8;
}

.mag-features input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(-45deg);
}

.mag-features input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(45deg);
}


/* Правая сторона магазина (Сортировка) */

.magazine-side-right {
    /*outline: 1px solid red;*/
    width: 760px;
    
}

.mag-top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-sort-list {
   /* background-color: green;*/

    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    padding-right: 86px;
}

.nav-sort-item {
    /*background-color: red;*/

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    padding-right: 25px;
    text-transform: uppercase;
}

.nav-sort-item:nth-child(1) {
    color: #000000;
}

.nav-sort-item:nth-child(2),
.nav-sort-item:nth-child(3) {
    color: #b2b2b2;
}

.nav-sort-item:hover {
    color: #666666;
    cursor: pointer;
}



/* изображения */


.prewiew {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.prewiew-item {
    position: relative;
    overflow: hidden; /* идея в том, что бы всплывающее окно было всегда на месте и выходило при наведении на всю область */
    margin-right: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.prewiew-item:nth-child(2n) {
    margin-right: 0px;
}

.prewiew-item-block {
    position: relative;
    width: 360px;
    height: 40px;
    
    background-color: #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}



.prewiew-item-block::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;

    height: 14px;
    width: 14px;

    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 23px 0px #ffffff,
                46px 0px #ffffff;

    z-index: 200;
}

.prewiew-item-img {
    height: 576px;
    width: 360px;
}


.prewiew-item-show {
    opacity: 0;

    position: absolute;
    bottom: 0;
    background-color: transparent;

    height: 616px;
    width: 360px;

    z-index: 5;
}

.prewiew-item-show:hover {
    opacity: 1;
}

.prewiew-item-block-darken {
    position: absolute;
    top: 0;
    height: 40px;
    width: 360px;
    background-color: #4d4d4d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.prewiew-item-info {
    opacity: 1;

    position: absolute;
    bottom: 0;
    z-index: 10;

    height: 230px;
    width: 360px;

    background-color: #eeeeee;
    text-align: center;
}

/*.prewiew-item-info:hover {
    opacity: 1;

    position: absolute;
    bottom: 0;
    z-index: 10;

    height: 230px;
    width: 360px;

    background-color: #eeeeee;
    text-align: center;
}*/

.prewiew-item-info h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 30px;

    font-weight: 700;
    color: #000000;
}

.prewiew-item-info p {
    display: inline-block;
    width: 250px;
    margin: 0;
    padding: 0;

    margin-bottom: 20px;

    color: #666666;
}

.prewiew-item-info a {
    margin-bottom: 45px;
}












/* Кнопки страниц в правой колонке */

.page-mag-selector {

    margin-bottom: 60px;

}


.page-mag-num {
    display: inline-block;
    margin-right: 8px;

    background-color: #eeeeee;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    padding: 15px 20px;
    border-radius: 5px;

    text-align: center;
    text-transform: uppercase;
}

.page-mag-num:hover {
    background-color: #dfdfdf;
}

.active-num {

    box-shadow: inset 3px 3px #eeeeee,
                inset -3px -3px #eeeeee,
                inset -3px 3px #eeeeee,
                inset 3px -3px #eeeeee   ;
    background-color: #ffffff;
}

.active-num:hover {
    background-color: #ffffff;
}

















/* Всплывающая форма */

@keyframes bounce {
  0%   {
    transform: translateX(-2000px);
  }
  70%  {
    transform: translateX(30px);
  }
  90%  {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 1756px;

    display: none;

    width: 760px;
    margin-left: -480px;
    padding: 70px 100px;

    /*height: 590px;*/

    color: #000000;


    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-content-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-content-close {
    position: absolute;
    top: 80px;
    right: 90px;

    width: 25px;
    height: 25px;

    font-size: 0;

    background-color: #ffffff;
    border: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;

    width: 25px;
    height: 3px;
    background-color: #fecccd;
    border-radius: 1px;
    opacity: 1;
}

.modal-content-close:hover,
.modal-content-close:hover {
    filter: saturate(1500%);
}

.modal-content-close::before {
    transform: rotate(45deg);
}
.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 50px;
}

.modal-content-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.modal-content-user-info span {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.modal-content-user-info input {
    padding: 16px 15px;
    margin: 0;

    width: 330px;

    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none; 

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #a1a1a1;
}

.modal-content-user-message {
    margin-bottom: 50px;
}

.modal-content-user-message span {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.modal-content-user-message textarea {
    padding: 16px 4px;
    margin: 0;
    margin-left: 9px;

    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;

    width: 752px;
    height: 82px;
}

.modal-content-user-info input:hover,
.modal-content-user-message textarea:hover {
    border-color: #b4b9bb;
}

.modal-content-user-info input:focus,
.modal-content-user-message textarea:focus {
    border-color: #000000;
}